*, :after, :before {
    box-sizing: border-box;
    padding: 0;
}

body {
    font: 1rem/1.5 -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    color: #333;
    line-height: 150%;
}

footer {
    font-size: 0.6rem;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #eee;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

h1, h2, h3, h4, h5, strong, b {
    font-size: inherit;
    font-weight: 600;
}

header {
    line-height: 2;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.time {
	font-variant-numeric: tabular-nums;
    padding-right: 1rem;
	white-space: nowrap;
}

blockquote {
    border-left: 5px solid #eee;
    padding-left: 1rem;
    margin: 0;
}

a,
a:visited {
    color: inherit;
}

pre {
    padding: .5rem;
    overflow: auto;
    overflow-x: scroll;
    overflow-wrap: normal;
}

code, pre {
    font-family: San Francisco Mono, Monaco, "Consolas", "Lucida Console","DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    font-size: normal;
    font-size: small;
    background: #eee
}

code {
    padding: .1rem;
    border: none;
}

ul {
    list-style-type: square;
}

ul, ol {
    padding-left: 1.2rem;
}

.list {
    line-height: 2;
    list-style-type: none;
    padding-left: 0;
}

.list li {
    margin-bottom: 0.15rem;
    display: flex;
    align-items: baseline;
}

.list li time {
    flex: 0 1 auto;
    font-variant-numeric: tabular-nums;
    padding-right: 1rem;
    white-space: nowrap;
}

.meta {
    color: #777
}

.content {
    max-width: 81ch;
    margin: 0 auto;
}

header a, .list a {
    text-decoration: none;
}

header ul {
    list-style-type: none;
    padding: 0;
}

header li, header a {
    display: inline;
}

header ul a:first-child {
    padding-left: 1rem;
}

.nav {
    height: 1px;
    background: #000;
    content: '';
    max-width: 10%;
}

.hr-list {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: .5rem;
    margin-left: .5rem;
    height: 1px;
    border: 0;
    border-bottom: 1px dotted #353535;
    flex: 1 0 1rem;
    opacity: .4;
}

.m,
hr {
    border: 0;
    margin: 3rem 0
}

img {
    //max-width: 100%;
    width: 100%;
    height: auto;
}

a:focus, a:hover {
    background-color: #353535;
    color: #ffffff;
}
a.hash {
    color: #ffffff;
}
figcaption {
    color: #686868;
    font-style: italic;
    line-height: 1.6153846154;
    padding-top: 0.5384615385em;
    text-align: left;
    word-wrap: break-word;
}