<!doctype html>
<html lang="en">
  {{ partial "head.html" . }}
<body>
  <a class="skip-link" href="#main">Skip to main</a>
<main id="main">
  <div class="content">
    {{ partial "header.html" . }}
    <br>

      {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
      {{ with $img }}
      {{ $tinyw := $img.Resize "500x" }}
      {{ $largew := $img.Resize "1440x" }}
        <img loading="eager"
          src="
            {{ $tinyw.RelPermalink }}"
          srcset="
            {{ $tinyw.RelPermalink }} 500w,
            {{ $largew.RelPermalink }} 1440w"
          sizes="
            (max-width: 600px) 500px,
            1440px"
          alt="{{ $img.Title }}" />
          {{ end }}

      {{ if eq .Type "photos" }}
      <h2>{{ .Title }}</h2>
      {{ end }}
        {{ if eq .Type "photos" }}
      {{ with .Params.image }}
        <img src="{{ . }}"></img>
      {{ end }}</a>
      {{ end }}
      <h2 class="post">{{ .Title }}</h2>
      {{ if .Params.showthedate | default "true" }}
      <time itemprop="datePublished" datetime="{{ dateFormat " 2006-01-02" .Date }}">{{ dateFormat "January 1, 2006" .Date}}
      <br>
        {{ end }}
      {{ .Content }}
      {{ if eq .Type "posts" }}
      {{ end }}
      {{ partial "footer.html" . }}
      {{ if eq .Title "Projects" }}
      <ul class="list">
        {{ range where .Site.Pages.ByDate.Reverse "Section" "projects" }}
          {{ if ne .Kind "section" }}
          <li>
            <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
          </li>
          {{ end }}
        {{ end }}
      </ul>
      {{ end }}
      {{ if eq .Title "Photos" }}
      <ul class="list photos">
        {{ range where .Site.Pages.ByDate.Reverse "Section" "photos" }}
          {{ if ne .Kind "section" }}
          <li>
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ with .Params.image }}
        <img src="{{ . }}"></img>
      {{ end }}</a>
          </li>
          {{ end }}
        {{ end }}
      </ul>
      {{ end }}
  
    </div>
</main>
</body>
</html>
